{% extends 'word_finder.html.twig' %}
{% block title %}
    Results{% endblock %}
{% block results %}
    {% set c = '' %}
    <p>Search Word:
        {{word}}</p>
    <p>Search Text:<br></p>
    {% set counter = 0 %}
    {% for key in text_array %}
        {% if key == true %}
            {% set c = c ~ '<span class="highlight">' ~ original_array[counter] ~ ' </span>' %}
        {% else %}
            {% set c = c ~ original_array[counter] ~ " " %}
        {% endif %}
        {% set counter = counter + 1 %}
    {% endfor %}
    {% autoescape %}
        <p>{{c | raw}}</p>
    {% endautoescape %}
    <p>Number of Occurrences:
        {{count}}</p>

{% endblock %}
